DEBUG=1
SECRET_KEY=change-me-in-development
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_NAME=pfapp
DATABASE_USER=pfapp
DATABASE_PASSWORD=pfapp
DATABASE_HOST=db
DATABASE_PORT=5432
POSTGRES_DB=pfapp
POSTGRES_USER=pfapp
POSTGRES_PASSWORD=pfapp
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_PRODUCTS=transactions,liabilities
PLAID_COUNTRY_CODES=US
PLAID_REDIRECT_URI=
PLAID_WEBHOOK_URL=
PLAID_CLIENT_NAME=pfapp
PLAID_SYNC_ENABLED=1
